body {
    display: flex;
    font: 400 16px "微软雅黑","宋体",sans-serif;
    color: #333333;
    overflow: scroll;
}
div, p{margin:0; padding:0}
input,button,select,textarea,a{outline:none}
button:focus,a:focus{
    outline: none;
}
h1{
    text-align: center;
    margin-left: 220px;
}

ul {
    list-style-type:none;
    margin-left: 14px;
}

ul li{
    margin: 20px 0;
}

a{
    text-decoration: none;
    color: #3385ff;
}

/*
不固定宽和高的水平垂直居中方法(css3)
transform: translate(left, top) 方法，元素从其当前位置移动，
根据给定的 left（x 坐标） 和 top（y 坐标）
*/

#wrapper{
    width: 766px;
    position: absolute;
    left: 50%;
    margin-left: -403px;
}
.center{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%); /*Safari、Chrome*/
    -moz-transform: translate(-50%,-50%); /*Firefox*/
    -ms-transform: translate(-50%,-50%); /*IE9*/
    -o-transform: translate(-50%,-50%);  /*Opera*/
    transform: translate(-50%,-50%);    /* IE10+ */
}

#chess-board-wrapper{
    width: 535px;
    height: 535px;
    float: left;
}

.chess-board {
    background: url('../images/board_bg.jpg') no-repeat;
    width:535px;
    height:535px;
    cursor: pointer;
    position: relative;
    padding: 4px;
}

.cell{
    float:left;
    width:35px;height:35px;
}

.cell-b{
    background: transparent url('../images/b.png') no-repeat center center;
    background-size: 32px 32px;
}
.cell-w{
    background: url('../images/w.png') no-repeat center center;
    background-size: 32px 32px;
}


.curplayer{
    color: red;
    font-weight: bold;
    margin-left: 4px;
}

.game-info{
    float: left;
    width: 220px;
}

.game-role{
    width: 120px;
    margin: 30px 0 30px 54px;
    text-align: left;
    clear: both;
}

.button {
    width: 106px;
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    font: 16px/100% Arial, Helvetica, sans-serif;
    padding: 9px 0 10px;
    /*text-shadow: 0 1px 1px rgba(0,0,0,.3);*/
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.button:hover {
    text-decoration: none;
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.button:active {
    position: relative;
    top: 1px;
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

button[disabled], button[disabled]:hover, button[disabled]:active{
    border: 1px solid #DDD;
    background: #F5F5F5;
    color:#ACA899;
    cursor: default;
}

.btn {
    background-color: #4da709;
    color: #333333;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    margin-left: 23px;
    border: 1px solid;
}

.hidden{
    display: none;
}

.show {
    display: block;

}

.mask {
    position: absolute;
    top: 0;
    filter: alpha(opacity=60);
    background-color: #777;
    z-index: 1002;
    left: 0;
    opacity:0.8;
    -moz-opacity:0.8;          /* 老版本Mozilla */
    -khtml-opacity: 0.8;       /* 老版本Safari*/
    filter:alpha(opacity=0.8); /* 针对 IE8 以及更早的版本 */
    width: 100%;
    height: 100%;
}

#info{
    position: fixed;
    top: 300px;
    left: 50%;
    margin-left: -96px;
    width: 360px;
    height: 132px;
    text-align: center;
    background: #ffffff;
    box-shadow: 2px 2px 5px;
    z-index: 1003;
}

#msg{
    margin:30px 0 20px;
}


#result a.btn{
    display: inline-block;
    width: 80px;
    height: 32px;
    padding: 0;
    line-height: 32px;
    border-radius: 3px;
}

.fl{
    float: left;
}
 .clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

